// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-white: #f9f7f6;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-dark-rgba: rgba(0, 0, 0, 0.2);

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px/16px
$bp-large: 62.5em; // 1000px/16px
$bp-medium: 50em; // 800px/16px
$bp-small: 37.5em; // 600px/16px

//BASE RESET
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 68.75%; //11px/16px = 68.75% -> 1rem = 11px
	//hide blinking typing cursor
	caret-color: transparent;

	// ! media queries
	@media only screen and (max-width: $bp-largest) {
		font-size: 60%;
	}
}

body {
	font-family: $font-primary;
	color: $color-grey-dark-2;
	font-weight: 300;
}

.container {
	display: grid;
	//row 1 = 80vh, row 2 = min-content, row 3 = 40vw, row 4 - 7 = min-content,
	//sidebar = 8rem, empty space = 1fr, 8 column grid, empty space = 1fr
	grid-template-columns:
		[sidebar-start] 6rem [sidebar-end full-start] minmax(6rem, 1fr)
		[center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
		[center-end] minmax(6rem, 1fr) [full-end];
	grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
	position: relative;
	transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);

	&--nav-visible {
		grid-template-columns:
			[sidebar-start] 30rem [sidebar-end full-start] minmax(6rem, 1fr)
			[center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
			[center-end] minmax(6rem, 1fr) [full-end];
	}

	// ! media queries
	@media only screen and (max-width: $bp-large) {
		grid-template-columns:
			[full-start] minmax(6rem, 1fr)
			[center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
			[center-end] minmax(6rem, 1fr) [full-end];
		grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);

		&--nav-visible {
			grid-template-rows: min-content 80vh min-content 40vw repeat(
					3,
					min-content
				);
		}
	}

	@media only screen and (max-width: $bp-medium) {
		//set height only for sidebar and header, others row have min-content
		grid-template-rows: 6rem calc(100vh - 6rem);

		&--nav-visible {
			grid-template-rows: min-content calc(100vh - 6rem);
		}
	}
}
