//all features
.features {
	grid-column: center-start / center-end;
	display: grid;
	//make grid responsive
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 6rem;
	align-items: start;

	margin: 15rem 0;
}

//single feature
.feature {
	display: grid;
	grid-template-columns: min-content 1fr;
	row-gap: 1.5rem;
	column-gap: 2.5rem;

	&__icon {
		grid-row: 1 / span 2;

		fill: $color-primary;
		width: 4.5rem;
		height: 4.5rem;
		transform: translateY(-0.5rem);
	}

	&-text {
		letter-spacing: 1px;
	}
}
